.adding-species {
  background-color: rgba(245, 245, 245, 0.747);
  padding: 15px;

  #speciesLabel,
  #favouritesLabel {
    font-weight: bold;
  }

  details {
    margin-bottom: 10px;
  }

  .form-group {
    width: 60%;
    margin-bottom: 20px;
  }

  .form-label-bold {
    font-weight: bold;
    padding: 8px 10px 0 0;
  }

  .action-buttons {
    margin-top: 15px;
    margin-bottom: 0;

    button {
      margin-bottom: 0;
    }
  }

  .autocomplete__input {
    background-color: white;
  }

  .input-species-block {
    @media screen and (min-width: $tablet-breakpoint) {
      max-width: 60%;
    }
  }

  .heading-small.main {
    padding: 0.5em;

    .species-remove-link {
      padding: 0;
      display: inline-block;
      width: auto;
    }
  }

  .properties-group {
    &.action-buttons div {
      position: relative;

      .button[name="btn_submit"] {
        margin-right: 1em;
      }

      .button-dressed-as-link {
        padding-left: 0;
      }
    }

    &:not(.inset) {
      margin-bottom: 12px;
    }
  }

  .inset {
    margin-left: 1.5em;

    @media screen and (min-width: $tablet-breakpoint) {
      max-width: 60%;
    }
  }
}

#tab-pane-add-products {
  .adding-species {
    padding: 0;
  }
}

// Added for your product table
table.yourProductsTable {
  tbody {
    tr.blankRow {
      td {
        border: none;
      }
    }

    tr + tr:last-child {
      td {
        border-width: 1px;
      }
    }

    button[name="removeProduct"] {
      margin: 0;
    }

    td {
      padding: 0.43158em 0.75263em 0.27368em 0;
      vertical-align: top;
    }
  }
}
