.add-landings-form {
  background-color: rgba(245, 245, 245, 0.747);
  padding: 15px;

  .label-landings-form {
    font-weight: bold;
  }

  #select-faoArea {
    width: 25%;
    margin-bottom: 30px;
  }

  #select-vessel {
    width: 60%;
    margin-bottom: 30px;
  }

  #vessel-list {
    width: 60%;
  }

  .govuk-details__summary {
    margin-bottom: 25px;
  }

  #select-products span {
    font-weight: bold;
  }

  .govuk-label-weight-input {
    font-weight: bold;
  }

  .form-group {
    width: 60%;
    margin-bottom: 20px;
  }

  .form-label-bold {
    font-weight: bold;
    padding: 8px 10px 0 0;
  }
}
