// Autocomplete
.typeahead-wrapper {
  position: relative;

  @media only screen and (max-width: $desktop-breakpoint) {
    width: 100%;

    .form-control {
      width: 100%;
    }
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    width: 100%;

    .form-control {
      width: 100%;
    }
  }
}
