.date-field-with-picker {
  display: flex;
  flex-direction: row;

  .date-field{
    div{
      label{
        width: 60px;
      }
    }
  }
}

.column-field-picker {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .date-picker {
    padding-bottom: 20px;
    margin-left: 230px;
    position: absolute;

    @media only screen and (min-width: 641px) {
      padding-bottom: 30px;
    }

    button {
      padding: 6px 10px 0 10px;
      box-shadow: 0 2px 0 #929191;
      background-color: rgb(239, 239, 239);
      border: none;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #cccccc;
      }

      img {
        width: 22px;
      }
    }

    &.error {
      margin-left: 240px;
    }
  }
}
