.processing-statement,
.storage-notes {
  .landing {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    h4 {
      display: block;
      width: 100%;
    }

    label,
    .speciesAutoCompleteWrapper {
      width: 100%;

      @media screen and (min-width: $tablet-breakpoint) {
        width: 40%;
      }

      @media screen and (min-width: $tablet-breakpoint) {
        & + label,
        & + .speciesAutoCompleteWrapper {
          padding-left: 15px;
        }
      }

      @media screen and (min-width: $desktop-breakpoint) {
        &:nth-child(n+3) {
          margin-top: 0;
        }
      }

      & + label {
        margin-top: 15px;

        @media screen and (min-width: $tablet-breakpoint) {
          margin-top: 0;
        }
      }

      input {
        width: 100%;
      }
    }

    a {
      display: inline-block;
      margin-top: 15px;

      @media screen and (min-width: $tablet-breakpoint) {
        margin-top: 32px;
        margin-left: 15px;
      }
    }
  }

  .add-landing {
    display: inline-block;
    margin-top: 15px;
  }

  .form-control.date-picker { width: 100%; }

  .processing-plant + .processing-plant { margin-top: 20px; }

  .processing-plant a {
    display: inline-block;
    margin-top: 15px;
  }

  table + table,
  .summary + table { margin-top: 30px; }

  table th { font-weight: bold; }
}
