.govuk-radios-input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  margin: 0;
  opacity: 0;
}

.govuk-radios-item {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear: left;
}

.govuk-label {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  display: block;
  margin-bottom: 5px;
  padding: 8px 10px 0 12px;
}

.govuk-hint {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  padding: 0 10px 10px 12px;
  color: #505a5f;
}

.govuk-fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.govuk-fieldset-legend {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  margin-bottom: 10px;
  padding: 0;
  white-space: normal;
}

.govuk-fieldset::after {
  content: "";
  display: block;
  clear: both;
}

.govuk-radios-item:last-child,
.govuk-radios-item:last-of-type {
  margin-bottom: 0;
}

.govuk-radios-input + .govuk-radios-label::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #0b0c0c;
  background-color: transparent;
}

.govuk-radios-input:focus + .govuk-radios-label::before {
  -webkit-box-shadow: 0 0 0 4px #ffdd00;
  box-shadow: 0 0 0 4px #ffdd00;
}

.govuk-radios-input:checked + .govuk-radios-label::after {
  opacity: 1;
  border-radius: 16px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 8px;
  content: " ";
  display: block;
  background: #0b0c0c;
}

.govuk-radios-input:disabled,
.govuk-radios-input:disabled + .govuk-radios-label {
  cursor: default;
}

.govuk-radios-input:disabled + .govuk-radios-label {
  opacity: 0.5;
}

.govuk-fieldset-error {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  border-left: 4px solid #b10e1e;
  margin-right: 15px;
  padding-left: 10px;
  margin-bottom: 0;

  & .govuk-error-message {
    display: block;
    color: #b10e1e;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-weight: 700;
  }
}
