.fes-govuk-tabs {
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .fes-govuk-tabs {
    margin-top: 5px;
  }
}

@media (min-width: 40.0625em) {
  .fes-govuk-tabs {
    margin-bottom: 30px;
  }
}

.fes-govuk-tabs__title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0b0c0c;
  margin-bottom: 10px;
}

@media print {
  .fes-govuk-tabs__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .fes-govuk-tabs__title {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .fes-govuk-tabs__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .fes-govuk-tabs__title {
    color: #000000;
  }
}

.fes-govuk-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .fes-govuk-tabs__list {
    margin-bottom: 30px;
  }
}

.fes-govuk-tabs__list-item {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-left: 25px;
}

@media print {
  .fes-govuk-tabs__list-item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .fes-govuk-tabs__list-item {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .fes-govuk-tabs__list-item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.fes-govuk-tabs__list-item::before {
  color: #0b0c0c;
  content: "\2014 ";
  margin-left: -25px;
  padding-right: 5px;
}

@media print {
  .fes-govuk-tabs__list-item::before {
    color: #000000;
  }
}

.fes-govuk-tabs__tab {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
  display: inline-block;
  margin-bottom: 10px;
}

@media print {
  .fes-govuk-tabs__tab {
    font-family: sans-serif;
  }
}

.fes-govuk-tabs__tab:hover {
  color: #003078;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

.fes-govuk-tabs__tab:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  -webkit-box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.fes-govuk-tabs__tab:link {
  color: #1d70b8;
}

.fes-govuk-tabs__tab:visited {
  color: #4c2c92;
}

.fes-govuk-tabs__tab:active {
  color: #0b0c0c;
}

.fes-govuk-tabs__panel {
  margin-bottom: 30px;
}

.progess-h1text {
  margin-top: -26px !important;
}


@media (min-width: 40.0625em) {
  .fes-govuk-tabs__panel {
    margin-bottom: 50px;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .fes-govuk-tabs__list {
    margin-bottom: 0;
    border-bottom: 1px solid #b1b4b6;
  }

  .js-enabled .fes-govuk-tabs__list::after {
    content: "";
    display: block;
    clear: both;
  }

  .js-enabled .fes-govuk-tabs__title {
    display: none;
  }

  .js-enabled .fes-govuk-tabs__list-item {
    position: relative;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 10px 20px;
    float: left;
    background-color: #f3f2f1;
    text-align: center;
  }

  .js-enabled .fes-govuk-tabs__list-item::before {
    content: none;
  }

  .js-enabled .fes-govuk-tabs__list-item--selected {
    position: relative;
    margin-top: -5px;
    margin-bottom: -1px;
    padding-top: 14px;
    padding-right: 19px;
    padding-bottom: 16px;
    padding-left: 19px;
    border: 1px solid #b1b4b6;
    border-bottom: 0;
    background-color: #ffffff;
  }

  .js-enabled .fes-govuk-tabs__list-item--selected .fes-govuk-tabs__tab {
    text-decoration: none;
  }

  .js-enabled .fes-govuk-tabs__tab {
    margin-bottom: 0;
  }

  .js-enabled .fes-govuk-tabs__tab:link,
  .js-enabled .fes-govuk-tabs__tab:visited {
    color: #0b0c0c;
  }
}

@media print and (min-width: 40.0625em) {
  .js-enabled .fes-govuk-tabs__tab:link,
  .js-enabled .fes-govuk-tabs__tab:visited {
    color: #000000;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .fes-govuk-tabs__tab:hover {
    color: rgba(11, 12, 12, 0.99);
  }

  .js-enabled .fes-govuk-tabs__tab:active,
  .js-enabled .fes-govuk-tabs__tab:focus {
    color: #0b0c0c;
  }
}

@media print and (min-width: 40.0625em) {
  .js-enabled .fes-govuk-tabs__tab:active,
  .js-enabled .fes-govuk-tabs__tab:focus {
    color: #000000;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .fes-govuk-tabs__tab::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .js-enabled .fes-govuk-tabs__panel {
    margin-bottom: 0;
    padding: 30px 20px;
    border: 1px solid #b1b4b6;
    border-top: 0;
    background-color: #f5f5f5;
  }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .js-enabled .fes-govuk-tabs__panel {
    margin-bottom: 0;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .fes-govuk-tabs__panel > :last-child {
    margin-bottom: 0;
  }

  .js-enabled .fes-govuk-tabs__panel--hidden {
    display: none;
  }
}