.govuk-form-group {
  margin-bottom: 30px;
}

.govuk-form-group.govuk-form-group-error {
  margin-right: 15px;
  border-left: 4px solid #b10e1e;
  padding-left: 10px;
}

@media (min-width: 641px) {
  .govuk-form-group.govuk-form-group-error {
    border-left: 5px solid #b10e1e;
    padding-left: 15px;
  }
}

.form-control {
  margin-bottom: 0;
  font-size: 19px;
  line-height: 1.3;
  height: 100%;

  &.weight-input {
    width: 26%;
  }
}

.govuk-label-weight-input {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.31579;
  color: #0b0c0c;
  display: block;
  margin-bottom: 5px;
}

.govuk-input__wrapper {
  display: flex;
  height: 40px;
}

.govuk-input__wrapper .govuk-input {
  flex: 0 1 auto;
}

.govuk-input__prefix,
.govuk-input__suffix {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.31579;
  box-sizing: border-box;
  display: inline-block;
  min-width: 40px;
  height: 100%;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-left: 0;
  background-color: #f3f2f1;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  flex: 0 0 auto;
}