// Generic (normalize/reset.css)
@import "~govuk-elements-sass/public/sass/elements/reset";

// Mixins
@import "~govuk_frontend_toolkit/stylesheets/conditionals"; // Media query mixin
@import "~govuk_frontend_toolkit/stylesheets/device-pixels"; // Retina image mixin
@import "~govuk_frontend_toolkit/stylesheets/grid_layout"; // Basic grid layout mixin
@import "~govuk_frontend_toolkit/stylesheets/typography"; // Core bold and heading mixins
@import "~govuk_frontend_toolkit/stylesheets/shims"; // Inline block mixin, clearfix placeholder

// Mixins to generate components (chunks of UI)
@import "~govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta"; // Only required if using _phase-banner.scss
@import "~govuk_frontend_toolkit/stylesheets/design-patterns/buttons"; // Only required if using _buttons.scss
@import "~govuk-elements-sass/public/sass/elements/layout"; // Main content container. Grid layout - rows and column widths
@import "~govuk-elements-sass/public/sass/elements/helpers"; // Helper functions and classes

// Components (chunks of UI)
@import "~govuk-elements-sass/public/sass/elements/elements-typography"; // Typography
@import "~govuk-elements-sass/public/sass/elements/buttons"; // Buttons
@import "~govuk-elements-sass/public/sass/elements/icons"; // Icons - numbered steps, calendar, search
@import "~govuk-elements-sass/public/sass/elements/lists"; // Lists - numbered, bulleted
@import "~govuk-elements-sass/public/sass/elements/tables"; // Tables - regular, numeric
@import "~govuk-elements-sass/public/sass/elements/details"; // Details summary
@import "~govuk-elements-sass/public/sass/elements/panels"; // Panels with a left grey border
@import "~govuk-elements-sass/public/sass/elements/forms/form-multiple-choice"; // Custom radio buttons and checkboxes
@import "~govuk-elements-sass/public/sass/elements/forms/form-date"; // Date of birth pattern
@import "~govuk-elements-sass/public/sass/elements/forms/form-validation"; // Errors and validation
@import "~govuk-elements-sass/public/sass/elements/phase-banner"; // Alpha and beta banners and tags
@import "~govuk-elements-sass/public/sass/elements/components"; // GOV.UK prefixed styles - blue highlighted box
@import "~govuk-elements-sass/public/sass/elements/shame"; // Hacks and workarounds that will go away eventually

// frontend-toolkit

@import "~govuk_frontend_toolkit/stylesheets/_colours"; // Colour variables
@import "~govuk_frontend_toolkit/stylesheets/_font_stack"; // Font family variables
@import "~govuk_frontend_toolkit/stylesheets/_measurements"; // Widths and gutter variables

// Mixins
@import "~govuk_frontend_toolkit/stylesheets/_conditionals"; // Media query mixin
@import "~govuk_frontend_toolkit/stylesheets/_device-pixels"; // Retina image mixin
@import "~govuk_frontend_toolkit/stylesheets/_grid_layout"; // Basic grid layout mixin
@import "~govuk_frontend_toolkit/stylesheets/_typography"; // Core bold and heading mixins, also external links
@import "~govuk_frontend_toolkit/stylesheets/_shims"; // Inline block mixin, clearfix placeholder

// Mixins to generate components (chunks of UI)
@import "~govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta";
@import "~govuk_frontend_toolkit/stylesheets/design-patterns/_buttons";
@import "~govuk_frontend_toolkit/stylesheets/design-patterns/_breadcrumbs";

// Functions
@import "~govuk_frontend_toolkit/stylesheets/_url-helpers";
@import "~accessible-autocomplete/src/autocomplete.css";

// Local files
@import "processing-statement";
@import "autocomplete";
@import "adding-species";
@import "weight-input";
@import "add-landing-form";
@import "progress-page";

// Date Field with Picker component
@import "date-field-with-picker";

//Capgemini DCX React Component Library
@import "./_styled-radio-with-hints";
@import "./_styled-tabs";

.text-right {
  text-align: right;
}

// Block width styles
.block-full-width {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
}

@media only screen and (max-width: $desktop-breakpoint) {
  .column-one-quarter {
    .form-group {
      .react-datepicker-wrapper,
      .react-datepicker-wrapper div {
        width: 100%;
      }
    }
  }
}

span.prop-dropdown > div.form-group {
  margin-bottom: 1em;
}

.grey-row {
  background-color: $highlight-colour;
}

.adding-species .form-control {
  width: 100%;
}

.add-new-species > div > button.button-dressed-as-link {
  padding-left: 0;
  margin-bottom: 1em;
}

/* the datepicker styles */
.react-datepicker {
  width: 280px;
  -webkit-box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.75);
  border-radius: 0.6rem;

  .react-datepicker__current-month {
    font-size: 1.2rem;
  }

  .react-datepicker__month-container {
    width: 100%;
    height: 100%;

    .react-datepicker__day,
    .react-datepicker__day-name {
      font-size: 1.8rem !important;
      width: 3.7rem;
      line-height: 3.7rem;
    }
  }
}

.button-dressed-as-link {
  border: 0 solid transparent;
  background-color: transparent;
  color: $link-colour;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-decoration: underline;
  cursor: pointer;

  @include core-19;

  &:hover,
  &:focus,
  &:visited,
  &:hover:disabled,
  &:active:disabled {
    background-color: transparent;
    color: $black;
  }
}

a.button-dressed-as-link.button:link {
  color: $link-colour;
}

a.button-dressed-as-link.button:hover {
  color: $black;
}

.manual-entry {
  .vessel-date-weight-entry-block {
    background-color: $highlight_colour;
  }

  .submit-buttons {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $tablet-breakpoint) {
      flex-wrap: wrap;
      justify-content: center;
    }

    button,
    a {
      margin-left: 1em;

      @media only screen and (max-width: $tablet-breakpoint) {
        margin-top: 1em;
        text-align: center;
      }
    }
  }

  .manual-entry-input-block {
    padding-top: 1em;

    .actions form,
    .actions div {
      clear: left;
      display: inline-block;

      button,
      a {
        padding-left: 0;
      }
    }
  }

  .search-group {
    input[type="text"] {
      width: 100%;
    }

    h3 {
      min-height: 2.5em;
    }
  }
}

.landing-block-wrapper {
  &:last-child {
    border-bottom: solid 1px $border-colour;
  }
}

.heading-secondary {
  color: $secondary-text-colour;
  margin-bottom: 0.7em;
}

.continue-link {
  @media screen and (min-width: $tablet-breakpoint) {
    margin-left: 0.8em;
    height: 100%;
  }
}

#backToProgress {
  display: block;
  margin-top: -40px;
  margin-bottom: 40px;
}

.help-link {
  margin-top: 0.2em;
  margin-bottom: 18px;
  height: 2px;
  background-color: #1d70b8;
}

.tab {
  margin-top: 2em;

  .active,
  .inactive {
    display: inline-table;
    padding: 0.7em;
  }

  .active {
    @media only screen and (min-width: $desktop-breakpoint) {
      border: 1px solid $border-colour;
      border-bottom-color: white;
      background-color: white;
      margin-bottom: -1px;
    }
  }

  .content {
    border-top: 1px solid $border-colour;
    padding: 0.7em;
  }
}

.form-control {
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  padding: 5px 4px 4px;
  border: 2px solid #0b0c0c;
  margin-bottom: 0;

  @media only screen and (min-width: 641px) {
    margin-bottom: 0;
    font-size: 19px;
    line-height: 1.3;
  }
}

.form-control-error {
  border-color: #b10e1e;
  border-width: 4px;
  margin-right: 15px;
  padding-left: 10px;
}

input,
textarea {
  &.formControl {
    width: 100%;
  }
}

.speciesAutoCompleteWrapper label {
  padding-bottom: 2px;
}

.vert-align {
  align-self: end;
}

input {
  &.mediumInput,
  &.smallInput {
    width: 100%;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  input.mediumInput {
    width: 45%;
  }

  input.smallInput {
    width: 20%;
  }

  input.largeInput {
    width: 100%;
  }
}

strong {
  font-weight: bold;
}

/* CSS for application header (from GOV UK prototype kit) */
.govuk-header {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  border-bottom: 10px solid #ffffff;
  color: #ffffff;
  background: #0b0c0c;
}

@media print {
  .govuk-header {
    font-family: sans-serif;
  }
}

@media (min-width: $desktop-breakpoint) {
  .govuk-header {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .govuk-header {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .govuk-header {
    border-bottom-width: 0;
    color: #0b0c0c;
    background: transparent;
  }

  .govuk-header__logotype-crown-fallback-image {
    display: none;
  }

  .govuk-header__link:link,
  .govuk-header__link:visited {
    color: #0b0c0c;
  }

  .govuk-header__link::after {
    display: none;
  }
}

.govuk-main-wrapper {
  padding-bottom: 20px;
  display: block;

  .multiple-draft-info.cc-guidance {
    font-size: 0.99em;
  }
}

@media (min-width: $desktop-breakpoint) {
  .govuk-main-wrapper {
    padding-bottom: 30px;
  }
}

.govuk-width-container {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: $desktop-breakpoint) {
  .govuk-width-container {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .govuk-width-container {
    margin: 0 auto;
  }
}

.govuk-header__container--full-width {
  padding: 0 15px;
  border-color: #005ea5;
}

.govuk-header__container {
  position: relative;
  margin-bottom: -10px;
  padding-top: 10px;
  border-bottom: 10px solid #005ea5;
}

.govuk-header__container::after {
  content: "";
  display: block;
  clear: both;
}

.govuk-header__logo {
  margin-bottom: 10px;
  padding-right: 50px;
}

@media (min-width: $desktop-breakpoint) {
  .govuk-header__logo {
    margin-bottom: 10px;
  }
}

@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: 33.33%;
    padding-right: 0;
    float: left;
    vertical-align: top;
  }
}

@media print {
  .govuk-header__link--homepage {
    font-family: sans-serif;
  }
}

.govuk-header__link--service-name {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media print {
  .govuk-header__link--service-name {
    font-family: sans-serif;
  }
}

@media (min-width: $desktop-breakpoint) {
  .govuk-header__link--service-name {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media print {
  .govuk-header__link--service-name {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.govuk-header__logotype {
  margin-right: 5px;
}

.govuk-header__logotype-crown {
  margin-right: 1px;
  fill: currentColor;
  vertical-align: middle;
}

.govuk-header__logotype-crown,
.govuk-header__logotype-crown-fallback-image {
  position: relative;
  top: -4px;
}

.govuk-header__logotype-crown-fallback-image {
  display: none;
  width: 36px;
  height: 32px;
  border: 0;
  vertical-align: middle;
}

@media (min-width: 48.0625em) {
  .govuk-header__content {
    width: 66.66%;
    float: left;
  }
}

.govuk-header__link {
  text-decoration: none;
}

.govuk-header__link:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  background-color: #ffbf47;
  color: #0b0c0c;
}

.govuk-header__link:link,
.govuk-header__link:visited {
  color: #ffffff;
}

.govuk-header__link:hover {
  text-decoration: underline;
}

.govuk-header__link--homepage {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
}

@media print {
  .govuk-header__link--homepage {
    font-family: sans-serif;
  }
}

.govuk-header__link--homepage:link,
.govuk-header__link--homepage:visited {
  text-decoration: none;
}

.govuk-header__link--homepage:hover,
.govuk-header__link--homepage:active {
  margin-bottom: -1px;
  border-bottom: 1px solid;
}

@media (min-width: 48.0625em) {
  .govuk-header__content {
    width: 66.66%;
    float: left;
  }
}

.govuk-header__container--full-width .govuk-header__menu-button {
  right: 15px;
}

.govuk-header__menu-button {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  background: none;
}

@media print {
  .govuk-header__menu-button {
    font-family: sans-serif;
  }
}

@media (min-width: $desktop-breakpoint) {
  .govuk-header__menu-button {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .govuk-header__menu-button {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.govuk-header__menu-button:hover {
  text-decoration: underline;
}

.govuk-header__menu-button::after {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 8.66px 5px 0 5px;
  border-top-color: inherit;
  content: "";
  margin-left: 5px;
}

.govuk-header__menu-button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

@media (min-width: $desktop-breakpoint) {
  .govuk-header__menu-button {
    display: none;
    top: 15px;
  }
}

.js-enabled .govuk-header__menu-button {
  display: block;
}

@media (min-width: 48.0625em) {
  .js-enabled .govuk-header__menu-button {
    display: none;
  }
}

#navigation.open {
  .govuk-header__navigation {
    display: block;
  }
}

.govuk-header__navigation {
  margin: 0 0 10px 0;
  display: none;
  padding: 0;
  list-style: none;
}

@media (min-width: $desktop-breakpoint) {
  .govuk-header__navigation {
    display: block;
    margin-bottom: 10px;
  }
}

.govuk-header__navigation-item {
  padding: 10px 0;
  border-bottom: 1px solid #2e3133;
}

@media (min-width: 48.0625em) {
  .govuk-header__navigation-item {
    display: inline-block;
    margin-right: 15px;
    padding: 5px 0;
    border: 0;
  }
}

.govuk-header__navigation-item a {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  white-space: nowrap;
}

@media print {
  .govuk-header__navigation-item a {
    font-family: sans-serif;
  }
}

@media (min-width: $desktop-breakpoint) {
  .govuk-header__navigation-item a {
    font-size: 16px;

    /*    font-size: 1rem; */
    line-height: 1.25;
  }
}

@media print {
  .govuk-header__navigation-item a {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.govuk-header__navigation-item:last-child {
  margin-right: 0;
}

.add-new-species {
  margin-bottom: 1em;
}

button.add-another-btn {
  background-color: #6f6e6e;
}

button.add-another-btn:hover {
  background-color: #9d9d9d;
}

.date-picker2 {
  width: 100%;
  text-align: right;
  font-size: 27px;

  img {
    position: relative;
    top: -30px;
    left: -6px;
    width: 22px;
    cursor: pointer;
  }

  img.error {
    top: -32px;
    left: -22px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .date-picker2 {
    width: 50%;
    text-align: right;
    font-size: 30px;

    img {
      position: relative;
      top: -35px;
      left: -6px;
      width: 24px;
      cursor: pointer;
    }

    img.error {
      top: -37px;
      left: -9px;
    }
  }
}

details .govuk-details__text {
  display: block;
}

.js-enabled details {
  .govuk-details__text {
    display: none;
  }

  &[open] .govuk-details__text,
  .govuk-details__text.open {
    border-left: 5px solid #bfc1c3;
    padding: 15px;
    display: block;
  }
}

.govuk-table {
  table-layout: fixed;
}

.govuk-tag {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: inline-block;
  padding: 4px 8px 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #ffffff;
  background-color: #005ea5;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.govuk-tag--grey {
  color: #383f43;
  background: #eeefef;
}

.govuk-tag--blue {
  color: #144e81;
  background: #d2e2f1;
}

.govuk-tag--red {
  color: #942514;
  background: #f6d7d2;
}

.govuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
  position: relative;
}

.govuk-phase-banner .govuk-phase-banner__content {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14286;
  color: #0b0c0c;
  display: table;
  margin: 0;
}

@media (min-width: 40.0625em) {
  .govuk-phase-banner__content {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.govuk-phase-banner__content__tag {
  margin-right: 10px;
}

.govuk-phase-banner__text {
  display: table-cell;
  vertical-align: baseline;
}

.govuk-link:visited {
  color: #4c2c92;
}

.govuk-link:link {
  color: #005ea5;
}

.error-summary-list {
  .govuk-link-in-error-summary a {
    &:link {
      color: $link-colour;
    }

    &:visited {
      color: $link-visited-colour;
    }
  }
}

.govuk-link {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-related-items {
  border-top: 10px solid #005ea5;
  padding-top: 10px;
}

.app-related-items .govuk-list > li {
  margin-bottom: 10px;
}

.save-as-draft-button {
  background: none !important;
  color: #4c2c92;
  border: none;
  padding: 0 !important;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.mobile-landings {
  @media (max-width: $tablet-breakpoint) {
    width: 1000px;
  }

  .govuk-table__cell label > div {
    height: 100%;
  }
}

.autocomplete-sd.error,
.autocomplete-ps.error {
  input {
    border: 4px solid #b10e1e;
  }
}

.input-species-ps {
  @media screen and (min-width: $tablet-breakpoint) {
    max-width: 65%;
  }
}

.seperationLine {
  margin-top: 1em;
  border-bottom: #bfc1c3 solid 1px;
}

.catch-row,
.catch-table {
  width: 100%;
  display: inherit;
  box-sizing: border-box;

  .error-message {
    display: none;
  }

  &.error {
    border-left: 4px solid #b10e1e;
    padding-left: 1em;

    .error-message {
      display: block;
      color: #b10e1e;
      font-weight: bold;
    }
  }
}

.exporter-address-data {
  &.error {
    border-left: 4px solid #b10e1e;
    padding-left: 1em;

    .error-message {
      display: block;
      color: #b10e1e;
      font-weight: bold;
    }
  }
}

ul.ul {
  font-size: inherit;

  li {
    font-size: inherit;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.notification-message {
  h2 {
    font-size: 2em;
    font-weight: bold;
  }

  p {
    font-size: 1em;
  }

  background-color: #005ea5;
  color: #ffffff;
}

.notification-banner {
  font-weight: 400;
  background-color: #1d70b8;
  padding: 7px;
  margin-bottom: 2em;
}

.notification-banner--success {
  font-weight: 400;
  background-color: green;
  padding: 7px;
  margin-bottom: 2em;
}

.notification-banner__header {
  padding: 2px 20px 5px;
  border-bottom: 1px solid transparent;
}

.notification-banner__title {
  font-family: "nta", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
}

.notification-banner__content {
  color: #0b0c0c;
  padding: 15px;
  background-color: #ffffff;
}

.notification-banner__heading {
  font-weight: 700;
  font-size: 2.3rem;
}

.upload-csv-notification {
  background-color: green;
}

.warning-message {
  max-width: 940px !important;
} //IE11 fix

dt.transport-details-summary-row {
  border-left: 10px #eeeeee solid;
  padding-left: 20px;
}

.enter-address-manually-link {
  color: #005ea5;
  text-decoration: underline;
}

.enter-address-manually-link:hover {
  color: #2b8cc4;
}

.govuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  text-indent: 0.3em;
}

.submitted-certificate-bg {
  background-color: #00703c !important;
}

.pending-page-panel {
  background-color: #1d70b8 !important;
}

td .draftInactiveTag,
li .optionalInactiveTag,
li .canNotStartInactiveTag {
  color: #383f43;
  background: #eeefef;
}

td .failedTag {
  color: #942514;
  background: #f6d7d2;
}

td .pendingTag {
  color: #144e81;
  background: #d2e2f1;
}

#speciesAndLandingsGuidanceMessage {
  background-color: #eaf4f9;
  border-left: 10px solid #2b8cc4;
  min-width: 70%;
}

td .lockedTag {
  color: #594d00;
  background: #fff7bf;
}

.override-remove-button {
  @media screen and (min-width: 756px) {
    margin-left: 3em;
  }
}

.govuk-cookie-banner {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  padding-top: 20px;
  border-bottom: 10px solid transparent;
  background-color: #f3f2f1;
}

.govuk-heading-m,
.app-contact-panel__heading,
.app-prose-scope h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.govuk-cookie-banner__content {
  font-size: 20px;
}

.govuk-cookie-banner__message {
  margin-bottom: -10px;
}

.govuk-grid-row {
  margin-right: -15px;
  margin-left: -15px;
}

.govuk-grid-row::after {
  content: "";
  display: block;
  clear: both;
}

.govuk-grid-column-two-thirds {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

.govuk-button-group {
  display: flex;
  margin-right: -15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: baseline;
  align-items: baseline;
  margin-bottom: 15px;
}

.govuk-button-group .govuk-button,
.govuk-button-group .govuk-link {
  margin-right: 15px;
  font-size: 20px;
}

.govuk-button {
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0 0 22px 0;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #ffffff;
  background-color: #00703c;
  -webkit-box-shadow: 0 2px 0 #002d18;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

.govuk-button:hover {
  background-color: #035730;
}

.govuk-button:link,
.govuk-button:visited,
.govuk-button:active,
.govuk-button:hover {
  color: #ffffff;
  text-decoration: none;
}

ul.language-toggle {
  float: right;
  width: 30%;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  right: 5px;
  top: 10px;
}

ul.language-toggle li {
  display: inline-block;
  margin-left: 10px;
}

.lang-active {
  color: #1d70b8;
  text-decoration: underline;
  cursor: pointer;
}

.lang-link {
  cursor: default;
}

ul.language-toggle.hidden {
  display: none;
}

@media only screen and (max-width: $tablet-breakpoint) {
  ul.language-toggle {
    right: 5px;
    bottom: 10px;
    top: unset;
    width: auto;
  }

  .govuk-phase-banner {
    padding-bottom: 30px;

    .govuk-phase-banner__content {
      padding-bottom: 10px;
    }
  }
}

.multiline {
  white-space: pre-line;
}