{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-missing-end-of-source-newline": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "max-empty-lines": 1,
    "string-quotes": "double",
    "color-hex-length": "long",
    "color-hex-case": "lower",
    "declaration-colon-newline-after": null,
    "font-family-name-quotes": null,
    "number-leading-zero": "always",
    "max-nesting-depth": 5,
    "selector-type-no-unknown": [ true, {
      "ignoreTypes": []
    } ],
    "selector-pseudo-element-no-unknown": [ true, {} ]
  }
}
